#carte{
-fx-background-color:white;
}

#creation{
-fx-background-color:white;
}

#scenario{
-fx-background-color:white;
}

.label{
-fx-text-fill: #4682b4;
-fx-font-size: 1.2em;
}
.root{
-fx-padding: 15;
-fx-background-color: cornsilk;
}